<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.svg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm I</h1>
		<p>Mais vale um bebadis conhecidiss, que um alcoolatra anonimiss. Manduma pindureta quium dia nois paga. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
		<p>Interagi no mé, cursus quis, vehicula ac nisi. A ordem dos tratores não altera o pão duris Pra lá , depois divoltis porris, paradis. Leite de capivaris, leite de mula manquis.</p>
	</div>
</div>